@import 'colors-scheme';

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $global-text;
}
