$global-text: white;

//group
$group-main-window: hsl(220, 10%, 25%);
$group-menu: hsl(220, 10%, 20%);
$group-user-avatar: hsl(220, 15%, 30%);
$group-username-container: hsl(220, 15%, 25%);
$group-hover: hsl(220, 15%, 25%);
$group-category: hsl(220, 15%, 30%);
$group-room: hsl(220, 15%, 30%);
//sidebar
$sidebar: hsl(200, 15%, 20%);
$sidebar-button: hsl(200, 15%, 30%);

//welcome
$welcome-background: hsl(220, 20%, 20%);

$layout-wrapper-background: hsl(200, 15%, 25%);
$layout-main-background: hsl(0, 5%, 15%);

$font-style: Verdana, Geneva, Tahoma, sans-serif;
